* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #AA71D7;
}

.nav-list {
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: white;
}