* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    color: #9338DB;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #AA71D7;
}

.nav-list {
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    color: #AA71D7;
}

.profile-photo {
    border-radius: 100px;
    box-shadow: 2px 1px 5px #999999;
}

.footer {
    background-color: #AA71D7;
    color: white;
    font-weight: bold;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.school-logo {
    background-size: contain;
    background-repeat: no-repeat;
}